<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>后台管理-画商店</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/paintingshop.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.min.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/moment.js"></script>
    <script src="/js/paintingshop.js"></script>
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="/js/bootstrap-select.min.js"></script>
    <script src="/js/defaults-zh_CN.min.js"></script>
    <script src="/js/defaults-zh_CN.min.js"></script>

</head>

<body>
<div th:insert="navigation :: nav"></div>

<div class="container-fluid main profile">
    <div class="row">
        <!--左边导航-->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 margin-top--20px">
            <!--导航栏-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 list-group section ">
                <a href="/backStage/usersController"
                   th:class="${section=='usersController'}?'active list-group-item':'list-group-item'">用户管理</a>
                <a href="/backStage/demandsController"
                   th:class="${section=='demandsController'}?'active list-group-item':'list-group-item'">企划管理</a>
                <a href="/backStage/worksController"
                   th:class="${section=='worksController'}?'active list-group-item':'list-group-item'">作品管理</a>
                <a href="/backStage/ordersController"
                   th:class="${section=='ordersController'}?'active list-group-item':'list-group-item'">订单管理</a>

                <br>
                <a href="/backStage/painterApply"
                   th:class="${section=='painterApply'}?'active list-group-item':'list-group-item'">画师审核</a>
                <a href="/backStage/payApply"
                   th:class="${section=='payApply'}?'active list-group-item':'list-group-item'">模拟收货</a>

            </div>
        </div>
        <!--用户管理-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 panel panel-default" th:if="${section == 'usersController'}">

            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="panel panel-default backStage-user" th:each="user : ${pagination.userDTOs}">

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <a th:href="@{'/users/'+${user.name}+'/demands'}">
                        <img class="media-object img-rounded" th:src="${user.avatarUrl}">
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <h4>
                        <a th:href="@{'/users/'+${user.name}+'/demands'}" th:text="${user.name}"></a>
                    </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <h4>
                        <span>密码</span>
                        <span th:text="${user.password}"></span>
                    </h4>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <h4>
                        <span>支付宝：未绑定</span>
                        <span th:text="${user.alipayNumber}"></span>
                    </h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4>
                        <span>身份码</span>
                        <span th:text="${user.identity}"></span>
                    </h4>
                </div>

            </div>
            <!--分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${1})}" aria-label="First">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                            <a th:href="@{'/backStage/'+${section}(page=${page})}" th:text="${page}">
                            </a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.totalPage})}" aria-label="End">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--企划管理-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 panel panel-default" th:if="${section == 'demandsController'}">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div th:each="demand : ${pagination.demandDTOs}">

                <div class="profile-demand-title">
                    <a class="profile-demand-title-color" th:href="@{'/demand/'+${demand.id}}"
                       th:text="${demand.title}"></a>
                </div>

                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 profile-demand-description-left">
                        <div>
                            <span class="text-desc">
                                <span>截稿日期</span>
                                <span class="margin-left-148px">应征人数</span>
                                <span class="margin-left-148px">企划状态</span>
                            </span>
                        </div>

                        <div class="row profile-demand-description-left-bottom">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <span th:text="${demand.closingDate}"></span>

                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <span th:text="${demand.enlistCount}"></span>个
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <span th:if="${demand.state==0}">正在招募</span>
                                <span th:if="${demand.state==1}">正在进行</span>
                                <span th:if="${demand.state==2}">已经结束</span>
                                <span th:if="${demand.state==3}">手动终止</span>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-left--65px">
                        <a th:if="${demand.state==0}" style="text-decoration:none;">
                            <button class="profile-demand-description-button1" type="button">停止该企划</button>
                        </a>
                        <a th:if="${demand.state!=0}" style="text-decoration:none;">
                            <button class="profile-demand-description-button1-stop" type="button" disabled="disabled">
                                已经停止
                            </button>
                        </a>
                        <a class="margin-left-20px" th:href="@{'/board/'+${demand.id}}">
                            <button class="profile-demand-description-button2" type="button">进入工作板</button>
                        </a>
                    </div>


                </div>

                <hr>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{'/backStage/'+${section}(page=${1})}" aria-label="First">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{'/backStage/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                        <a th:href="@{'/backStage/'+${section}(page=${page})}" th:text="${page}">
                        </a>
                    </li>
                    <li th:if="${pagination.showNext}">
                        <a th:href="@{'/backStage/'+${section}(page=${pagination.page + 1})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{'/backStage/'+${section}(page=${pagination.totalPage})}" aria-label="End">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--作品管理-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 panel panel-default" th:if="${section == 'worksController'}">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 panel panel-default backStage-size"
                 th:each="paintings : ${pagination.paintingsDTOs}">
                <a th:href="@{'/paintings/'+${paintings.id}}">
                    <img class="img-rounded backStage-paintings" th:src="${paintings.paintingsUrl}">
                    <form action="/paintingsDelete" method="post">
                        <input type="hidden" name="id" id="id"
                               th:value="${paintings.id}">
                        <button type="submit">删除</button>
                    </form>
                </a>
            </div>
            <!--分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${1})}" aria-label="First">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                            <a th:href="@{'/backStage/'+${section}(page=${page})}" th:text="${page}">
                            </a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.totalPage})}" aria-label="End">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
        <!--订单管理-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 panel panel-default" th:if="${section == 'ordersController'}">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="order : ${pagination.orderDTOs}">
                <div class="row order-size panel panel-default">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-title">
                        <div class="margin-10px">
                            <span class="margin-right-30px"
                                  th:text="${#dates.format(order.gmtCreate,'yyyy-MM-dd')}"></span>
                            订单号：<span th:text="${order.orderNumber}"></span>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-10px">
                        <div>
                            <span class="text-desc">
                                <span>企划标题</span>
                                <span class="margin-left-148px">选定画师</span>
                                <span class="margin-left-148px">交稿时间</span>
                                <span class="margin-left-148px">订单状态</span>
                            </span>
                        </div>
                        <div class="row profile-demand-description-left-bottom margin-top-5px">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a th:href="@{'/demand/'+${order.demandId}}" style="text-decoration:none;">
                                    <span class="order-word-size" th:text="${order.demand.title}"></span>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a th:href="@{'/users/'+${order.user.name}+'/demands'}" style="text-decoration:none;">
                                    <span class="order-word-size" th:text="${order.user.name}"></span>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <span class="order-word-size" th:text="${order.enlist.closingDate}"></span>
                            </div>

                            <!--状态-->
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <span class="order-word-size-state0"
                                      th:if="${order.state==0 && !order.overtime}">待支付</span>
                                <span class="order-word-size-state0"
                                      th:if="${order.state==0 && order.overtime}">订单超时</span>
                                <span class="order-word-size-state12" th:if="${order.state==1}">待发货</span>
                                <span class="order-word-size-state12" th:if="${order.state==2}">待收货</span>
                                <span class="order-word-size-state12" th:if="${order.state==3}">待评价</span>
                                <span class="order-word-size-state34" th:if="${order.state==4}">已完成</span>
                                <span class="order-word-size-state34" th:if="${order.state==5}">已取消</span>
                            </div>


                        </div>
                        <hr class="order-hr">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top--10px">
                        <div class="order-left margin-left-10px">
                            <span class="text-desc">稿酬:</span>
                            <span class="board-content-right-word margin-left-10px" th:text="${order.price}"></span>
                            <span class="board-content-right-size">RMB</span>
                        </div>

                        <!--已完成-->
                        <div class="order-right order-evaluate" th:if="${order.state==4}">
                            <span class="text-desc">我的评价:</span>
                            <span th:text="${order.evaluate.content}"></span>
                        </div>

                    </div>


                </div>

            </div>
            <!--分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${1})}" aria-label="First">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                            <a th:href="@{'/backStage/'+${section}(page=${page})}" th:text="${page}">
                            </a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.totalPage})}" aria-label="End">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

        <!--画师申请管理-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 panel panel-default" th:if="${section == 'painterApply'}">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="user : ${pagination.userDTOs}">
                <div class="row backStage-apply-style-left panel panel-default">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 demand-enlist-avatar">
                        <a th:href="@{'/users/'+${user.name}+'/demands'}">
                            <img class="demand-enlist-avatar-size img-circle" th:src="${user.avatarUrl}">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 demand-enlist-name-style">
                        <a th:href="@{'/users/'+${user.name}+'/demands'}">
                            <span class="demand-enlist-name-size" th:text="${user.name}"></span>
                        </a>
                        <br>
                        <span class="text-desc">共0条评价</span>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 margin-top-15px"
                             th:each="paintings : ${user.paintingsList}">
                            <a th:href="@{'/paintings/'+${paintings.id}}">
                                <img class="demand-enlist-paintings-size img-rounded"
                                     th:src="${paintings.paintingsUrl}">
                            </a>
                        </div>
                    </div>

                </div>
                <div class="backStage-apply-style-right">
                    <input type="hidden" name="userId" id="userId"
                           th:value="${user.id}">
                    <button class="backStage-apply--button1" type="button" onclick="approved()">通过</button>
                    <br>
                    <button class="backStage-apply--button2" type="button" onclick="auditFailed()">驳回</button>
                </div>
            </div>

            <!--分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${1})}" aria-label="First">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                            <a th:href="@{'/backStage/'+${section}(page=${page})}" th:text="${page}">
                            </a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.totalPage})}" aria-label="End">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>

        <!--模拟发货-->
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 panel panel-default" th:if="${section == 'payApply'}">
            <h2><span th:text="${sectionName}"></span></h2>
            <hr>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" th:each="order : ${pagination.orderDTOs}">
                <div class="row order-size panel panel-default">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 order-title">
                        <div class="margin-10px">
                            <span class="margin-right-30px"
                                  th:text="${#dates.format(order.gmtCreate,'yyyy-MM-dd')}"></span>
                            订单号：<span th:text="${order.orderNumber}"></span>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  margin-10px">
                        <div>
                            <span class="text-desc">
                                <span>企划标题</span>
                                <span class="margin-left-148px">选定画师</span>
                                <span class="margin-left-148px">画师账户</span>
                                <span class="margin-left-148px">订单状态</span>
                            </span>
                        </div>
                        <div class="row profile-demand-description-left-bottom margin-top-5px">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a th:href="@{'/demand/'+${order.demandId}}" style="text-decoration:none;">
                                    <span class="order-word-size" th:text="${order.demand.title}"></span>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <a th:href="@{'/users/'+${order.user.name}+'/demands'}" style="text-decoration:none;">
                                    <span class="order-word-size" th:text="${order.user.name}"></span>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <span class="order-word-size" th:text="${order.user.alipayNumber}"></span>
                            </div>

                            <!--状态-->
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <span class="order-word-size-state12" th:if="${order.gmtPaid==1}">企划方收货</span>
                                <span class="order-word-size-state12" th:if="${order.gmtPaid==2}">画师申请收货</span>
                                <span class="order-word-size-state12" th:if="${order.gmtPaid==3}">企划方退款</span>
                            </div>


                        </div>
                        <hr class="order-hr">
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-top--10px">
                        <div class="order-left margin-left-10px">
                            <span class="text-desc">稿酬:</span>
                            <span class="board-content-right-word margin-left-10px" th:text="${order.price}"></span>
                            <span class="board-content-right-size">RMB</span>
                        </div>

                        <!--已完成-->
                        <div class="order-right order-evaluate">
                            <form action="/backStagePay" method="post">
                                <input type="hidden" name="orderNumber" id="orderNumber"
                                       th:value="${order.orderNumber}">
                                <button type="submit" class="order-pay-button margin-left-100px">
                                    已操作
                                </button>
                            </form>
                        </div>

                    </div>


                </div>

            </div>
            <!--分页-->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        <li th:if="${pagination.showFirstPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${1})}" aria-label="First">
                                <span aria-hidden="true">&lt;&lt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showPrevious}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page - 1})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>
                        <li th:each="page : ${pagination.pages}" th:class="${pagination.page==page}?'active':''">
                            <a th:href="@{'/backStage/'+${section}(page=${page})}" th:text="${page}">
                            </a>
                        </li>
                        <li th:if="${pagination.showNext}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.page + 1})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.showEndPage}">
                            <a th:href="@{'/backStage/'+${section}(page=${pagination.totalPage})}" aria-label="End">
                                <span aria-hidden="true">&gt;&gt;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>



    </div>
</div>

<div th:insert="footer :: foot"></div>


</body>
</html>