<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.paintingshop.mapper.DemandExtMapper">
    <resultMap id="BaseResultMap" type="com.example.paintingshop.model.Demand">

        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="tag" jdbcType="VARCHAR" property="tag" />
        <result column="creator" jdbcType="BIGINT" property="creator" />
        <result column="follow_count" jdbcType="INTEGER" property="followCount" />
        <result column="gmt_create" jdbcType="BIGINT" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="BIGINT" property="gmtModified" />
        <result column="state" jdbcType="INTEGER" property="state" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="closing_date" jdbcType="VARCHAR" property="closingDate" />
        <result column="view_count" jdbcType="INTEGER" property="viewCount" />
        <result column="enlist_count" jdbcType="INTEGER" property="enlistCount" />
    </resultMap>


    <update id="incEnlist" parameterType="com.example.paintingshop.model.Demand">
        update t_demand
        set
        enlist_count = enlist_count +#{enlistCount,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <update id="reduceEnlist" parameterType="com.example.paintingshop.model.Demand">
        update t_demand
        set
        enlist_count = enlist_count -#{enlistCount,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <update id="incFollowCount" parameterType="com.example.paintingshop.model.Demand">
        update t_demand
        set
       follow_count = follow_count +#{followCount,jdbcType=INTEGER}
        where id = #{id}
    </update>

</mapper>